img {max-width:100%;}

.sticky-nav {
    position: sticky;
    top: 0;
    background-color: white;
  }

#home-page {
    min-height: 800px;
    background-color: #313236;
}

#logo-container{
    margin-top: 100px;
    margin-left: 15%;
}

p {
    color: white;
}

li {
    color: white;
}